*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 65.5%; }

body {
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.7; }
  body p {
    margin: inherit; }
  body ul {
    margin: inherit; }

.u-font-size {
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: .2rem;
  color: #435072; }

.u-margin-top-medium {
  margin-top: 3rem; }

.u-margin-top-small {
  margin-top: 1.5rem; }

.u-text-align {
  text-align: center; }

ul {
  list-style-type: none; }
  ul li a {
    text-decoration: none; }

.slider__home-item {
  height: 500px;
  background-image: url("../image/Rectangle 2.png");
  background-size: cover;
  background-position: center;
  background-repeat: none; }
  .slider__home-item .container {
    padding: 12rem 3rem; }
    .slider__home-item .container .slider__home-item-text {
      text-align: left;
      line-height: 1.7; }
      .slider__home-item .container .slider__home-item-text h2 {
        font-size: 2.8rem; }

.slider__home-item-num {
  margin-top: 8rem;
  display: inline-block; }
  .slider__home-item-num h2 {
    display: inline-block;
    font-weight: 500;
    font-size: 3rem;
    color: #435072; }
  .slider__home-item-num h4 {
    display: inline;
    font-size: 1.8rem;
    margin-left: .2rem;
    color: #435072; }

.owl-nav {
  position: absolute;
  bottom: 15%;
  right: 10%; }
  .owl-nav .owl-next i, .owl-nav .owl-prev i {
    color: #435072;
    padding: 10px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 6px; }

.slider__home .owl-dots {
  position: absolute;
  bottom: 7%;
  left: 35%; }

.slider__home-item-button {
  margin-top: 5rem; }

.major-button {
  padding: .8rem 1.5rem;
  border: 1px solid #435072;
  border-radius: 8px;
  transition: all .6s; }
  .major-button a {
    text-decoration: none;
    color: #435072;
    font-size: 1.8rem; }
    .major-button a:hover {
      color: #435072; }
    .major-button a i {
      font-size: 1.5rem;
      color: #435072; }
  .major-button:hover {
    background-color: #435072; }
    .major-button:hover a {
      color: #fff; }
      .major-button:hover a i {
        color: #fff; }

.major-button-2 {
  padding: .8rem 4rem; }
  .major-button-2 i {
    padding: 0 1rem;
    transition: all .6s; }
  .major-button-2:hover i {
    transform: translateX(10px); }

.heading {
  padding: 1.7rem 0;
  background-color: #435072;
  font-size: 1.2rem; }
  .heading__content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .heading__content-adress {
      color: #fff; }
      .heading__content-adress p {
        font-size: 1.3rem; }
    .heading__content-info {
      display: flex;
      align-items: center;
      flex-wrap: wrap; }
      .heading__content-info-1 {
        margin: 0 .5rem;
        line-height: 25px; }
        .heading__content-info-1 a {
          text-decoration: none;
          color: #fff; }
      .heading__content-info-2 {
        margin: 0 .5rem;
        line-height: 25px; }
        .heading__content-info-2 a {
          text-decoration: none;
          color: #fff; }
    .heading__content-social {
      display: flex;
      align-items: center; }
      .heading__content-social-1 {
        margin: 0 .5rem;
        color: #fff;
        border: 1px solid #fff;
        padding: .2rem .4rem; }
        .heading__content-social-1 a {
          color: #fff; }
      .heading__content-social-2 {
        margin: 0 .5rem;
        color: #fff;
        border: 1px solid #fff;
        padding: .2rem .4rem; }
        .heading__content-social-2 a {
          color: #fff; }
      .heading__content-social-3 {
        margin: 0 .5rem;
        color: #fff;
        border: 1px solid #fff;
        padding: .2rem .4rem; }
        .heading__content-social-3 a {
          color: #fff; }
      .heading__content-social-4 {
        margin: 0 .5rem;
        color: #fff;
        border: 1px solid #fff;
        padding: .2rem .4rem; }
        .heading__content-social-4 a {
          color: #fff; }
    .heading__content-currency {
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      white-space: nowrap;
      margin: 0 10px; }
      .heading__content-currency-datetime {
        font-size: 1.2rem; }
      .heading__content-currency-box {
        border: 1px solid #fff;
        padding: .4rem .8rem;
        margin-left: 10px;
        border-radius: 5px; }
        .heading__content-currency-box i {
          margin-left: 5px; }
    .heading__content-language-main {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: .8rem; }
      .heading__content-language-main a {
        text-decoration: none; }
        .heading__content-language-main a img {
          width: 1.6rem;
          height: 1.6rem; }
      .heading__content-language-main p {
        color: #fff; }
      .heading__content-language-main i {
        color: white; }

.navigation {
  background-color: #fff;
  padding: 1.5rem; }
  .navigation__menu {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navigation__navbar {
    font-size: 1.7rem; }
    .navigation__navbar-list {
      display: flex;
      align-items: center; }
      .navigation__navbar-list li {
        padding: 1rem;
        margin-right: 1.6rem;
        font-weight: 700;
        flex-wrap: nowrap; }
        .navigation__navbar-list li a {
          color: #435072; }
      .navigation__navbar-list--search {
        display: flex;
        align-items: center;
        padding: 1rem 1.5rem; }

.about__logo img {
  width: 11%; }

.about__text p {
  font-size: 2.1rem;
  line-height: 36px; }

.partner__text h2 {
  color: #435072;
  line-height: 4rem;
  letter-spacing: 2px; }

.partner__logos-row {
  height: 100%; }

.partner__logos-pic {
  height: 100%;
  display: flex;
  align-items: center; }

.product__heading {
  margin-top: 2rem; }

.product_slider {
  margin-top: 5rem; }
  .product_slider-item {
    width: 28rem !important;
    height: 27rem;
    opacity: .4; }
    .product_slider-item img {
      height: 100%;
      width: 100%; }

.slick-next {
  right: 13rem !important; }

.slick-prev {
  left: 13rem !important; }

.slick-current .product_slider-item {
  opacity: 1; }

.service {
  text-align: left; }
  .service__caption {
    position: relative;
    margin: 4rem 0; }
    .service__caption h2 {
      color: #606f84;
      text-transform: uppercase;
      margin-left: 2rem;
      font-size: 2.5rem;
      padding-top: .6rem; }
      .service__caption h2::before {
        content: "";
        position: absolute;
        top: -5px;
        left: -25px;
        width: 0px;
        height: 0px;
        border-top: 12px solid #606f84;
        border-right: 12px solid transparent;
        margin-left: 2rem;
        margin-top: 1rem; }
      .service__caption h2::after {
        content: "";
        position: absolute;
        top: 10px;
        left: -25px;
        width: 0px;
        height: 0px;
        border-bottom: 18px solid #606f84;
        border-right: 18px solid transparent;
        margin-left: 2rem;
        margin-top: 1rem; }
  .service__title {
    margin-bottom: 4rem; }
    .service__title h2 {
      margin-bottom: 2rem;
      color: #435072;
      font-size: 3.5rem; }
  .service__cards .row {
    --bs-gutter-x: 2.5rem; }
  .service__cards_item {
    position: relative;
    margin: 1.5rem 0;
    padding: 2rem 3rem;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(27, 50, 77, 0.1);
    border-radius: 15px;
    overflow: hidden;
    transition: all .5s; }
    .service__cards_item:hover {
      transform: translateY(-10px); }
    .service__cards_item:hover .service__cards_item-text::after {
      width: 100%; }
    .service__cards_item-icon {
      width: 5rem;
      height: 5rem;
      background-color: rgba(67, 80, 114, 0.08);
      color: #435072;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-bottom: 1.5rem; }
      .service__cards_item-icon i {
        font-size: 2rem; }
    .service__cards_item-title {
      margin-bottom: 1.5rem;
      color: #435072; }
      .service__cards_item-title h3 {
        font-size: 2rem;
        line-height: 3rem; }
    .service__cards_item-text {
      margin-bottom: 1.5rem; }
      .service__cards_item-text p {
        font-size: 1.3rem;
        line-height: 2rem;
        color: #435072; }
      .service__cards_item-text::after {
        content: "";
        position: absolute;
        width: 0;
        height: 12px;
        background-color: #435072;
        bottom: 0;
        left: 0;
        transition: width 1s; }

.brend__title {
  padding: 3rem 0; }
  .brend__title h2 {
    font-size: 4rem; }

.brend__slider {
  margin-top: 2rem; }
  .brend__slider-item {
    width: 28rem;
    background: #fff;
    padding: 20px;
    height: 8rem;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .brend__slider-item img {
      width: 50.5% !important;
      height: 67%; }
  .brend__slider .owl-dots {
    margin-top: 4rem !important; }

.gallery__flex {
  display: flex;
  justify-content: space-between; }

.gallery__title {
  margin: 2rem 0; }

.gallery__slider {
  margin-top: 5rem; }
  .gallery__slider-item {
    height: 22rem; }
    .gallery__slider-item img {
      height: 100%;
      object-fit: cover;
      border-radius: 10px; }

.gallery .owl-nav {
  top: -45% !important;
  bottom: inherit !important; }
  .gallery .owl-nav .owl-prev {
    border: 1px solid #435072 !important;
    border-radius: 6px !important; }
    .gallery .owl-nav .owl-prev i {
      font-size: 2rem;
      color: #435072; }
  .gallery .owl-nav .owl-next {
    border: 1px solid #435072 !important;
    border-radius: 6px !important; }
    .gallery .owl-nav .owl-next i {
      font-size: 2rem;
      color: #435072; }

.contact__header {
  color: #435072;
  text-align: center;
  margin: 2rem 0; }
  .contact__header h2 {
    font-size: 4rem; }

.contact__text {
  text-align: center;
  color: #435072;
  margin: 2rem 0; }
  .contact__text p {
    font-size: 2rem;
    line-height: 6rem; }

.contact__form {
  padding: 0 20rem; }
  .contact__form-input:not(:last-child) {
    margin: 1.5rem 0; }
  .contact__form-input input {
    width: 40rem;
    height: 5rem;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 1.3rem; }
    .contact__form-input input:focus {
      outline: none; }

.contact__text textarea {
  border: 1px solid white;
  padding: 20px;
  font-size: 1.3rem;
  width: 100%;
  height: 17rem; }
  .contact__text textarea:focus {
    outline: none; }

.contact .about__button {
  text-align: center; }
  .contact .about__button button {
    background-color: #435072; }
    .contact .about__button button a {
      color: white; }
      .contact .about__button button a i {
        color: white; }

#about {
  padding: 50px 0;
  background-image: url("../../image/haqqimizda-bg 1 (2).png");
  background-size: cover;
  background-position: center;
  text-align: center;
  background-position: center;
  color: #fff; }

#partners {
  padding: 70px 0;
  background-color: #fff; }

#product {
  padding: 50px 0;
  background-image: url("../../image/mehsullar-bg 1.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  background-position: center;
  color: #fff; }

#service {
  background-image: url("../../image/service-bg.png");
  background-size: cover;
  padding: 50px 0; }

#brend {
  padding: 50px 0;
  background-image: url("../../image/slider-bg.png");
  background-size: cover;
  background-position: center;
  color: #fff; }

#gallery {
  padding: 50px 0; }

#contact {
  padding: 50px 0;
  background-image: url("../../image/contact-bg.png");
  background-size: cover;
  background-position: top; }
