*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 65.5%; }

body {
  box-sizing: border-box; }
  body p {
    margin: inherit; }
  body ul {
    margin: inherit; }

body {
  font-weight: 400;
  line-height: 1.7; }

ul {
  list-style-type: none; }
  ul li a {
    text-decoration: none; }

#slider {
  height: 60vh; }

.slider__home-item {
  height: 500px;
  background-image: url("../image/Rectangle 2.png");
  background-size: cover;
  background-position: center;
  background-repeat: none; }
  .slider__home-item .container {
    padding: 12rem 3rem; }
    .slider__home-item .container .slider__home-item-text {
      text-align: left;
      line-height: 1.7; }
      .slider__home-item .container .slider__home-item-text h2 {
        font-size: 2.8rem; }

.slider__home-item-num {
  margin-top: 8rem;
  display: inline-block; }
  .slider__home-item-num h2 {
    display: inline-block;
    font-weight: 500;
    font-size: 3rem;
    color: #435072; }
  .slider__home-item-num h4 {
    display: inline;
    font-size: 1.8rem;
    margin-left: .2rem;
    color: #435072; }

.owl-nav {
  position: absolute;
  bottom: 15%;
  right: 10%; }
  .owl-nav .owl-next i, .owl-nav .owl-prev i {
    color: #435072;
    padding: 10px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 6px; }

.slider__home .owl-dots {
  position: absolute;
  bottom: 7%;
  left: 35%; }

.slider__home-item-button {
  margin-top: 5rem; }

.major-button {
  padding: .8rem 1.5rem;
  border: 1px solid #435072;
  border-radius: 8px;
  transition: all .8s; }
  .major-button a {
    text-decoration: none;
    color: #435072;
    font-size: 1.8rem; }
    .major-button a:hover {
      color: #435072; }
    .major-button a i {
      font-size: 1.5rem;
      color: #435072; }
  .major-button:hover {
    background-color: #435072; }
    .major-button:hover a {
      color: #fff; }
      .major-button:hover a i {
        color: #fff; }

.heading {
  padding: 1.7rem 0;
  background-color: #435072;
  font-size: 1.2rem; }
  .heading__content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .heading__content-adress {
      color: #fff; }
      .heading__content-adress p {
        font-size: 1.3rem; }
    .heading__content-info {
      display: flex;
      align-items: center;
      flex-wrap: wrap; }
      .heading__content-info-1 {
        margin: 0 .5rem;
        line-height: 25px; }
        .heading__content-info-1 a {
          text-decoration: none;
          color: #fff; }
      .heading__content-info-2 {
        margin: 0 .5rem;
        line-height: 25px; }
        .heading__content-info-2 a {
          text-decoration: none;
          color: #fff; }
    .heading__content-social {
      display: flex;
      align-items: center; }
      .heading__content-social-1 {
        margin: 0 .5rem;
        color: #fff;
        border: 1px solid #fff;
        padding: .2rem .4rem; }
        .heading__content-social-1 a {
          color: #fff; }
      .heading__content-social-2 {
        margin: 0 .5rem;
        color: #fff;
        border: 1px solid #fff;
        padding: .2rem .4rem; }
        .heading__content-social-2 a {
          color: #fff; }
      .heading__content-social-3 {
        margin: 0 .5rem;
        color: #fff;
        border: 1px solid #fff;
        padding: .2rem .4rem; }
        .heading__content-social-3 a {
          color: #fff; }
      .heading__content-social-4 {
        margin: 0 .5rem;
        color: #fff;
        border: 1px solid #fff;
        padding: .2rem .4rem; }
        .heading__content-social-4 a {
          color: #fff; }
    .heading__content-currency {
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      white-space: nowrap;
      margin: 0 10px; }
      .heading__content-currency-datetime {
        font-size: 1.2rem; }
      .heading__content-currency-box {
        border: 1px solid #fff;
        padding: .4rem .8rem;
        margin-left: 10px;
        border-radius: 5px; }
        .heading__content-currency-box i {
          margin-left: 5px; }
    .heading__content-language-main {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: .8rem; }
      .heading__content-language-main a {
        text-decoration: none; }
        .heading__content-language-main a img {
          width: 1.6rem;
          height: 1.6rem; }
      .heading__content-language-main p {
        color: #fff; }
      .heading__content-language-main i {
        color: white; }

.navigation {
  background-color: #fff;
  padding: 1.5rem; }
  .navigation__menu {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navigation__navbar {
    font-size: 1.7rem; }
    .navigation__navbar-list {
      display: flex;
      align-items: center; }
      .navigation__navbar-list li {
        padding: 1rem;
        margin-right: 1.6rem;
        font-weight: 700;
        flex-wrap: nowrap; }
        .navigation__navbar-list li a {
          color: #435072; }
      .navigation__navbar-list--search {
        display: flex;
        align-items: center;
        padding: 1rem 1.5rem; }
