

.product{

  &__heading{
     margin-top: 2rem;
    
  }


  
  &_slider{
 
    margin-top: 5rem;
   
    &-item{  //product-item
      margin: 0 5rem;
      width: 45rem ;
      height: 27rem;
      opacity: .4;
      img{
        height: 100%;
        width: 100%;
      }
    }
  }




}



.slick-next{
  right: 13rem !important;
}


.slick-prev{
  left: 13rem !important;
}



.slick-current .product_slider-item{
  opacity: 1;
}














