@media screen and(max-width:1200px){
    html{
        //this define what is 1rem is
        font-size: 60%;
    }
    .brend__slider-item{
        
        padding: 1.5rem;
    }
    iframe{
        width: 100%;
    }
}



@media screen and(max-width:1400px){
    //  .brend__slider-item{
    //      //this define what is 1rem is
    //      w: 25rem ;idth
    //  }
}



