#about{
    padding:50px 0;
    background-image: url("../../image/haqqimizda-bg\ 1\ \(2\).png");
    background-size: cover;
    background-position: center;
    text-align: center;
    background-position: center;
    color: $color-white;
    // font-size: 2.5rem;
}


#partners{
    padding: 70px 0;
    background-color: $color-white;
}

#product{

    padding:50px 0;
    background-image: url("../../image/mehsullar-bg\ 1.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    background-position: center;
    color: $color-white;
    
}


#service{
    background-image: url('../../image/service-bg.png');
    background-size:cover;
   
    padding:50px 0;
}



#brend{
    padding: 50px 0;
    background-image: url('../../image/slider-bg.png');
    background-size: cover;
    background-position: center;
    color: $color-white;
}

#gallery{
    padding: 50px 0;
}

#contact{
    padding: 50px 0;
    background-image: url("../../image/contact-bg.png");
    background-size: cover;
    background-position: top;
}





















